@import "tailwindcss";
/* Hide scrollbar for all browsers */
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */

  /* For WebKit-based browsers */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
